{% extends "review/base.html" %}

{% block content %}

<style>
    .content{
            height: 173px;
    }
        body {

        background-image: url('/static/review/signuploginbackground.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    .custom-navbar { position: static;
    }
    
    @media  (max-width:414px ){
        .f{
            /* display: flex;
            justify-content: center; */
            color: white;

     }
    
    .bb{
    /* border: 2px solid rgb(233, 225, 225); */
    text-align: center;
    /* padding: 0%; */
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 125px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right:300px ; */
    }
    .box{
        
        border-radius: 10px;
        width: 80%;

    }
    .error{
        border: 2px solid rgb(233, 225, 225);
        width: 100%;
        height: 50%;
    }
    .text{
    margin-left: 100px;
    margin-right: 100px;
    }
    /* .container{
        display: flex;
        align-items: center;
        justify-content: center;
       
    } */
    }

    @media (min-width:1025px){
        .error{
        /* border: 2px solid rgb(233, 225, 225); */
        width: 100%;
        height: 50%;
        }
        .f{
            display: flex;
            justify-content: center;
            color: white;

     }
    .content{
            height: 173px;
    }
    .bb{
    border: 2px solid rgb(233, 225, 225);
    text-align: center;
    /* padding: 0%; */
    width: 50%;
    margin-top: 125px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right:300px ;
    }
    .text{
    margin-left: 100px;
    margin-right: 100px;
    }
    }
    
</style>
<div class="bb">
<div class="box1 ">

    
    
    <div class="error">
        <h2 class="heading f">Login</h2>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form  method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div><label  class="f"  for="username">Username</label></div>
                <div class="text">

                    <input type="text" name="username" placeholder="Name" class="form-control" id="username">
                </div>
            </div>
            <div class="form-group">
                <div><label for="password " class="f">Password</label></div>
                <div class="text">

                    <input type="password" name="password" placeholder="Password" class="form-control" id="password">
                </div>
            </div>
            <div class="f">

                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <hr>
        <div class="text-center f">
            New user? <a href="{% url 'signupuser' %}">Create an account</a>
        </div>
    </div>
    
</div>
</div>
<div class="content">

</div>
{% endblock %}