{% extends "review/base.html" %}

{% block content %}
    <style>
        body {
            background-image: url('/static/review/signuploginbackground.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        
        .custom-navbar { 
            position: static;
        }
        .f{
            display: flex;
            justify-content: center;
            color: white;

        }
        
        .small{
            text-align: center;
            color: white;
            size: 2px;
        }
        @media  (max-width:414px ){
        .f{
            /* display: flex;
            justify-content: center; */
            color: white;

     }
    
    .bb{
    /* border: 2px solid rgb(233, 225, 225); */
    text-align: center;
    /* padding: 0%; */
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 125px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right:300px ; */
    }
    .box{
        
        border-radius: 10px;
        width: 80%;

    }
    .error{
        border: 2px solid rgb(233, 225, 225);
        width: 100%;
        height: 50%;
    }
    .text{
    margin-left: 100px;
    margin-right: 100px;
    }
    /* .container{
        display: flex;
        align-items: center;
        justify-content: center;
       
    } */
    }

    @media (min-width:1025px){
        .error{
        /* border: 2px solid rgb(233, 225, 225); */
        width: 100%;
        height: 50%;
        }
        .f{
            display: flex;
            justify-content: center;
            color: white;

     }
    .content{
            height: 173px;
    }
    .bb{
    border: 2px solid rgb(233, 225, 225);
    text-align: center;
    /* padding: 0%; */
    width: 50%;
    margin-top: 125px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right:300px ;
    }
    .text{
    margin-left: 100px;
    margin-right: 100px;
    }
    }
    .content{
            height: 150px;
        }
    </style>
    <div class="bb">
<div class="box1">
    <h2 class="f heading">SignUp</h2>
    <div class="error">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div><label  class="f"  for="username">Username</label></div>
            <div class="text">
                <input type="text" name="username" class="form-control" placeholder="Name" id="username" aria-describedby="usernameHelp">
            </div>
            <!-- <small id="usernameHelp" class="form.text{
    margin-left: 80px;
    margin-right: 80px;
}-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small> -->
 
        </div>
        <div class="form-group ">
            <div><label for="password1 " class="f">Password</label></div>
            <div class="text">
                <input type="password" name="password1" placeholder="Password" class="form-control" id="password1">
            </div>
           <p class="small">Choose Strong Password</p>
        </div>
        <div class="form-group">
            <div><label for="password2 " class="f">Confirm Password</label></div>
            <div class="text">
                 <input type="password" name="password2" placeholder="Password" class="form-control" id="password2">
            </div>
        </div>
        <div class="f">

            <button type="submit" class="btn btn-primary f">Sign Up</button>
        </div>
    </form>
    <hr>
    <div class="text-center  f">
    Already have an account?  <a href="{% url 'loginuser' %}">Sign in*</a>
    </div>
</div>
</div>
<div class="content">

</div>
{% endblock %}